/* Stili Generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color-scheme: dark;
}

/* Stili Main */
#title {
    text-align: center;
}

.lightblue {
    color: lightblue;
    font-size: 40px;
    margin-top: 50px;
}

.lightgreen {
    color: lightgreen;
    font-size: 40px;
    margin-top: 50px;
}

button {
    padding: 8px 15px;
    margin-top: 20px;
}